# standard ignore
*config*
*conf*

apiExamples/
demo/partials/
.github/
.gitignore
.eslintrc
.stylelintrc

coverage/
docs/
scripts/
test/
demo/**/*.css
demo/**/*.scss
demo/**/*.html

index.html

# ignore src
src/**/*
