/* stylelint-disable custom-property-empty-line-before */

@use "@aurodesignsystem/design-tokens/dist/themes/alaska/SCSSVariables--alaska" as v;

:host(:not([type='cta'])) {
  // default hyperlink
  
  --ds-auro-hyperlink-default-color-default: var(--ds-advanced-color-hyperlink-text, #{v.$ds-advanced-color-hyperlink-text});
  --ds-auro-hyperlink-default-container-color-default: transparent;
  --ds-auro-hyperlink-default-outline-color-default: transparent;
  --ds-auro-hyperlink-default-border-color-default: transparent;

  --ds-auro-hyperlink-visited-color-default: var(--ds-advanced-color-hyperlink-text, #{v.$ds-advanced-color-hyperlink-text});
  --ds-auro-hyperlink-visited-container-color-default: transparent;
  --ds-auro-hyperlink-visited-outline-color-default: transparent;
  --ds-auro-hyperlink-visited-border-color-default: transparent;

  --ds-auro-hyperlink-focus-color-default: var(--ds-advanced-color-hyperlink-text, #{v.$ds-advanced-color-hyperlink-text});
  --ds-auro-hyperlink-focus-container-color-default: transparent;
  --ds-auro-hyperlink-focus-outline-color-default: var(--ds-advanced-color-state-focused, #{v.$ds-advanced-color-state-focused});
  --ds-auro-hyperlink-focus-border-color-default: transparent;

  --ds-auro-hyperlink-hover-color-default: var(--ds-advanced-color-hyperlink-text-hover, #{v.$ds-advanced-color-hyperlink-text-hover});
  --ds-auro-hyperlink-hover-container-color-default: transparent;
  --ds-auro-hyperlink-hover-outline-color-default: transparent;
  --ds-auro-hyperlink-hover-border-color-default: transparent;

  // default ondark hyperlink

  --ds-auro-hyperlink-default-color-inverse: var(--ds-advanced-color-hyperlink-text-inverse, #{v.$ds-advanced-color-hyperlink-text-inverse});
  --ds-auro-hyperlink-default-container-color-inverse: transparent;
  --ds-auro-hyperlink-default-outline-color-inverse: transparent;
  --ds-auro-hyperlink-default-border-color-inverse: transparent;

  --ds-auro-hyperlink-visited-color-inverse: var(--ds-advanced-color-hyperlink-text-inverse, #{v.$ds-advanced-color-hyperlink-text-inverse});
  --ds-auro-hyperlink-visited-container-color-inverse: transparent;
  --ds-auro-hyperlink-visited-outline-color-inverse: transparent;
  --ds-auro-hyperlink-visited-border-color-inverse: transparent;

  --ds-auro-hyperlink-focus-color-inverse: var(--ds-advanced-color-hyperlink-text-inverse, #{v.$ds-advanced-color-hyperlink-text-inverse});
  --ds-auro-hyperlink-focus-container-color-inverse: transparent;
  --ds-auro-hyperlink-focus-outline-color-inverse: var(--ds-advanced-color-state-focused-inverse, #{v.$ds-advanced-color-state-focused-inverse});
  --ds-auro-hyperlink-focus-border-color-inverse: transparent;

  --ds-auro-hyperlink-hover-color-inverse: var(--ds-advanced-color-hyperlink-text-inverse, #{v.$ds-advanced-color-hyperlink-text-inverse});
  --ds-auro-hyperlink-hover-container-color-inverse: transparent;
  --ds-auro-hyperlink-hover-outline-color-inverse: transparent;
  --ds-auro-hyperlink-hover-border-color-inverse: transparent;

  // nav hyperlink

  --ds-auro-hyperlink-nav-default-color-default: var(--ds-advanced-color-hyperlink-text, #{v.$ds-advanced-color-hyperlink-text});
  --ds-auro-hyperlink-nav-default-container-color-default: transparent;
  --ds-auro-hyperlink-nav-default-outline-color-default: transparent;
  --ds-auro-hyperlink-nav-default-border-color-default: transparent;

  --ds-auro-hyperlink-nav-visited-color-default: var(--ds-advanced-color-hyperlink-text, #{v.$ds-advanced-color-hyperlink-text});
  --ds-auro-hyperlink-nav-visited-container-color-default: transparent;
  --ds-auro-hyperlink-nav-visited-outline-color-default: transparent;
  --ds-auro-hyperlink-nav-visited-border-color-default: transparent;

  --ds-auro-hyperlink-nav-focus-color-default: var(--ds-advanced-color-hyperlink-text-inverse, #{v.$ds-advanced-color-hyperlink-text-inverse});
  --ds-auro-hyperlink-nav-focus-container-color-default: var(--ds-advanced-color-state-focused, #{v.$ds-advanced-color-state-focused});
  --ds-auro-hyperlink-nav-focus-outline-color-default: var(--ds-advanced-color-state-focused, #{v.$ds-advanced-color-state-focused});
  --ds-auro-hyperlink-nav-focus-border-color-default: var(--ds-advanced-color-state-focused, #{v.$ds-advanced-color-state-focused});

  --ds-auro-hyperlink-nav-hover-color-default: var(--ds-advanced-color-hyperlink-text-hover, #{v.$ds-advanced-color-hyperlink-text-hover});
  --ds-auro-hyperlink-nav-hover-container-color-default: transparent;
  --ds-auro-hyperlink-nav-hover-outline-color-default: transparent;
  --ds-auro-hyperlink-nav-hover-border-color-default: transparent;

  // nav ondark hyperlink
  
  --ds-auro-hyperlink-nav-default-color-inverse: var(--ds-advanced-color-hyperlink-text-inverse, #{v.$ds-advanced-color-hyperlink-text-inverse});
  --ds-auro-hyperlink-nav-default-container-color-inverse: transparent;
  --ds-auro-hyperlink-nav-default-outline-color-inverse: transparent;
  --ds-auro-hyperlink-nav-default-border-color-inverse: transparent;

  --ds-auro-hyperlink-nav-visited-color-inverse: var(--ds-advanced-color-hyperlink-text-inverse, #{v.$ds-advanced-color-hyperlink-text-inverse});
  --ds-auro-hyperlink-nav-visited-container-color-inverse: transparent;
  --ds-auro-hyperlink-nav-visited-outline-color-inverse: transparent;
  --ds-auro-hyperlink-nav-visited-border-color-inverse: transparent;

  --ds-auro-hyperlink-nav-focus-color-inverse: var(--ds-advanced-color-hyperlink-text, #{v.$ds-advanced-color-hyperlink-text});
  --ds-auro-hyperlink-nav-focus-container-color-inverse: var(--ds-advanced-color-state-focused-inverse, #{v.$ds-advanced-color-state-focused-inverse});
  --ds-auro-hyperlink-nav-focus-outline-color-inverse: var(--ds-advanced-color-state-focused-inverse, #{v.$ds-advanced-color-state-focused-inverse});
  --ds-auro-hyperlink-nav-focus-border-color-inverse: var(--ds-advanced-color-state-focused-inverse, #{v.$ds-advanced-color-state-focused-inverse});

  --ds-auro-hyperlink-nav-hover-color-inverse: var(--ds-advanced-color-hyperlink-text-inverse, #{v.$ds-advanced-color-hyperlink-text-inverse});
  --ds-auro-hyperlink-nav-hover-container-color-inverse: transparent;
  --ds-auro-hyperlink-nav-hover-outline-color-inverse: transparent;
  --ds-auro-hyperlink-nav-hover-border-color-inverse: transparent;

  // cta hyperlink - default

  --ds-auro-hyperlink-cta-default-color-default: var(--ds-advanced-color-button-primary-text, #{v.$ds-advanced-color-button-primary-text});
  --ds-auro-hyperlink-cta-default-container-color-default: var(--ds-advanced-color-button-primary-background, #{v.$ds-advanced-color-button-primary-background});
  --ds-auro-hyperlink-cta-default-outline-color-default: var(--ds-advanced-color-button-primary-background, #{v.$ds-advanced-color-button-primary-background});
  --ds-auro-hyperlink-cta-default-border-color-default: var(--ds-advanced-color-button-primary-background, #{v.$ds-advanced-color-button-primary-background});

  --ds-auro-hyperlink-cta-visited-color-default: var(--ds-advanced-color-button-primary-text, #{v.$ds-advanced-color-button-primary-text});
  --ds-auro-hyperlink-cta-visited-container-color-default: var(--ds-advanced-color-button-primary-background, #{v.$ds-advanced-color-button-primary-background});
  --ds-auro-hyperlink-cta-visited-outline-color-default: var(--ds-advanced-color-button-primary-background, #{v.$ds-advanced-color-button-primary-background});
  --ds-auro-hyperlink-cta-visited-border-color-default: var(--ds-advanced-color-button-primary-background, #{v.$ds-advanced-color-button-primary-background});

  --ds-auro-hyperlink-cta-focus-color-default: var(--ds-advanced-color-button-primary-text, #{v.$ds-advanced-color-button-primary-text});
  --ds-auro-hyperlink-cta-focus-container-color-default: var(--ds-advanced-color-button-primary-background, #{v.$ds-advanced-color-button-primary-background});
  --ds-auro-hyperlink-cta-focus-outline-color-default: var(--ds-advanced-color-state-focused-inverse, #{v.$ds-advanced-color-state-focused-inverse});
  --ds-auro-hyperlink-cta-focus-border-color-default: var(--ds-advanced-color-button-primary-background, #{v.$ds-advanced-color-button-primary-background});

  --ds-auro-hyperlink-cta-hover-color-default: var(--ds-advanced-color-button-primary-text, #{v.$ds-advanced-color-button-primary-text});
  --ds-auro-hyperlink-cta-hover-container-color-default: var(--ds-advanced-color-button-primary-background-hover, #{v.$ds-advanced-color-button-primary-background-hover});
  --ds-auro-hyperlink-cta-hover-outline-color-default: var(--ds-advanced-color-button-primary-background-hover, #{v.$ds-advanced-color-button-primary-background-hover});
  --ds-auro-hyperlink-cta-hover-border-color-default: var(--ds-advanced-color-button-primary-background-hover, #{v.$ds-advanced-color-button-primary-background-hover});

  // cta hyperlink - default ondark

  --ds-auro-hyperlink-cta-default-color-inverse: var(--ds-advanced-color-button-primary-text-inverse, #{v.$ds-advanced-color-button-primary-text-inverse});
  --ds-auro-hyperlink-cta-default-container-color-inverse: var(--ds-advanced-color-button-primary-background-inverse, #{v.$ds-advanced-color-button-primary-background-inverse});
  --ds-auro-hyperlink-cta-default-outline-color-inverse: var(--ds-advanced-color-button-primary-background-inverse, #{v.$ds-advanced-color-button-primary-background-inverse});
  --ds-auro-hyperlink-cta-default-border-color-inverse: var(--ds-advanced-color-button-primary-background-inverse, #{v.$ds-advanced-color-button-primary-background-inverse});

  --ds-auro-hyperlink-cta-visited-color-inverse: var(--ds-advanced-color-button-primary-text-inverse, #{v.$ds-advanced-color-button-primary-text-inverse});
  --ds-auro-hyperlink-cta-visited-container-color-inverse: var(--ds-advanced-color-button-primary-background-inverse, #{v.$ds-advanced-color-button-primary-background-inverse});
  --ds-auro-hyperlink-cta-visited-outline-color-inverse: var(--ds-advanced-color-button-primary-background-inverse, #{v.$ds-advanced-color-button-primary-background-inverse});
  --ds-auro-hyperlink-cta-visited-border-color-inverse: var(--ds-advanced-color-button-primary-background-inverse, #{v.$ds-advanced-color-button-primary-background-inverse});

  --ds-auro-hyperlink-cta-focus-color-inverse: var(--ds-advanced-color-button-primary-text-inverse, #{v.$ds-advanced-color-button-primary-text-inverse});
  --ds-auro-hyperlink-cta-focus-container-color-inverse: var(--ds-advanced-color-button-primary-background-inverse, #{v.$ds-advanced-color-button-primary-background-inverse});
  --ds-auro-hyperlink-cta-focus-outline-color-inverse: var(--ds-advanced-color-state-focused, #{v.$ds-advanced-color-state-focused});
  --ds-auro-hyperlink-cta-focus-border-color-inverse: var(--ds-advanced-color-button-primary-background-inverse, #{v.$ds-advanced-color-button-primary-background-inverse});

  --ds-auro-hyperlink-cta-hover-color-inverse: var(--ds-advanced-color-button-primary-text-inverse, #{v.$ds-advanced-color-button-primary-text-inverse});
  --ds-auro-hyperlink-cta-hover-container-color-inverse: var(--ds-advanced-color-button-primary-background-inverse-hover, #{v.$ds-advanced-color-button-primary-background-inverse-hover});
  --ds-auro-hyperlink-cta-hover-outline-color-inverse: var(--ds-advanced-color-button-primary-background-inverse-hover, #{v.$ds-advanced-color-button-primary-background-inverse-hover});
  --ds-auro-hyperlink-cta-hover-border-color-inverse: var(--ds-advanced-color-button-primary-background-inverse-hover, #{v.$ds-advanced-color-button-primary-background-inverse-hover});

  // cta hyperlink - secondary

  --ds-auro-hyperlink-cta-secondary-default-color-default: var(--ds-advanced-color-button-secondary-text, #{v.$ds-advanced-color-button-secondary-text});
  --ds-auro-hyperlink-cta-secondary-default-container-color-default: var(--ds-advanced-color-button-secondary-background, #{v.$ds-advanced-color-button-secondary-background});
  --ds-auro-hyperlink-cta-secondary-default-outline-color-default: var(--ds-advanced-color-button-secondary-border, #{v.$ds-advanced-color-button-secondary-border});
  --ds-auro-hyperlink-cta-secondary-default-border-color-default: var(--ds-advanced-color-button-secondary-border, #{v.$ds-advanced-color-button-secondary-border});

  --ds-auro-hyperlink-cta-secondary-visited-color-default: var(--ds-advanced-color-button-secondary-text, #{v.$ds-advanced-color-button-secondary-text});
  --ds-auro-hyperlink-cta-secondary-visited-container-color-default: var(--ds-advanced-color-button-secondary-background, #{v.$ds-advanced-color-button-secondary-background});
  --ds-auro-hyperlink-cta-secondary-visited-outline-color-default: var(--ds-advanced-color-button-secondary-border, #{v.$ds-advanced-color-button-secondary-border});
  --ds-auro-hyperlink-cta-secondary-visited-border-color-default: var(--ds-advanced-color-button-secondary-border, #{v.$ds-advanced-color-button-secondary-border});

  --ds-auro-hyperlink-cta-secondary-focus-color-default: var(--ds-advanced-color-button-secondary-text, #{v.$ds-advanced-color-button-secondary-text});
  --ds-auro-hyperlink-cta-secondary-focus-container-color-default: var(--ds-advanced-color-button-secondary-background, #{v.$ds-advanced-color-button-secondary-background});
  --ds-auro-hyperlink-cta-secondary-focus-outline-color-default: var(--ds-advanced-color-state-focused, #{v.$ds-advanced-color-state-focused});
  --ds-auro-hyperlink-cta-secondary-focus-border-color-default: var(--ds-advanced-color-state-focused, #{v.$ds-advanced-color-state-focused});

  --ds-auro-hyperlink-cta-secondary-hover-color-default: var(--ds-advanced-color-button-secondary-text-hover, #{v.$ds-advanced-color-button-secondary-text-hover});
  --ds-auro-hyperlink-cta-secondary-hover-container-color-default: var(--ds-advanced-color-button-secondary-background-hover, #{v.$ds-advanced-color-button-secondary-background-hover});
  --ds-auro-hyperlink-cta-secondary-hover-outline-color-default: var(--ds-advanced-color-button-secondary-border-hover, #{v.$ds-advanced-color-button-secondary-border-hover});
  --ds-auro-hyperlink-cta-secondary-hover-border-color-default: var(--ds-advanced-color-button-secondary-border-hover, #{v.$ds-advanced-color-button-secondary-border-hover});

  // cta hyperlink - secondary ondark

  --ds-auro-hyperlink-cta-secondary-default-color-inverse: var(--ds-advanced-color-button-secondary-text-inverse, #{v.$ds-advanced-color-button-secondary-text-inverse});
  --ds-auro-hyperlink-cta-secondary-default-container-color-inverse: transparent;
  --ds-auro-hyperlink-cta-secondary-default-outline-color-inverse: var(--ds-advanced-color-button-secondary-border-inverse, #{v.$ds-advanced-color-button-secondary-border-inverse});
  --ds-auro-hyperlink-cta-secondary-default-border-color-inverse: var(--ds-advanced-color-button-secondary-border-inverse, #{v.$ds-advanced-color-button-secondary-border-inverse});

  --ds-auro-hyperlink-cta-secondary-visited-color-inverse: var(--ds-advanced-color-button-secondary-text-inverse, #{v.$ds-advanced-color-button-secondary-text-inverse});
  --ds-auro-hyperlink-cta-secondary-visited-container-color-inverse: transparent;
  --ds-auro-hyperlink-cta-secondary-visited-outline-color-inverse:  var(--ds-advanced-color-button-secondary-border-inverse, #{v.$ds-advanced-color-button-secondary-border-inverse});
  --ds-auro-hyperlink-cta-secondary-visited-border-color-inverse:  var(--ds-advanced-color-button-secondary-border-inverse, #{v.$ds-advanced-color-button-secondary-border-inverse});

  --ds-auro-hyperlink-cta-secondary-focus-color-inverse: var(--ds-advanced-color-button-secondary-text-inverse, #{v.$ds-advanced-color-button-secondary-text-inverse});
  --ds-auro-hyperlink-cta-secondary-focus-container-color-inverse: transparent;
  --ds-auro-hyperlink-cta-secondary-focus-outline-color-inverse:  var(--ds-advanced-color-state-focused-inverse, #{v.$ds-advanced-color-state-focused-inverse});
  --ds-auro-hyperlink-cta-secondary-focus-border-color-inverse:  var(--ds-advanced-color-state-focused-inverse, #{v.$ds-advanced-color-state-focused-inverse});

  --ds-auro-hyperlink-cta-secondary-hover-color-inverse: var(--ds-advanced-color-button-secondary-text-inverse, #{v.$ds-advanced-color-button-secondary-text-inverse});
  --ds-auro-hyperlink-cta-secondary-hover-container-color-inverse: var(--ds-advanced-color-button-secondary-background-inverse-hover, #{v.$ds-advanced-color-button-secondary-background-inverse-hover});
  --ds-auro-hyperlink-cta-secondary-hover-outline-color-inverse: var(--ds-advanced-color-button-secondary-border-inverse, #{v.$ds-advanced-color-button-secondary-border-inverse});
  --ds-auro-hyperlink-cta-secondary-hover-border-color-inverse: var(--ds-advanced-color-button-secondary-border-inverse, #{v.$ds-advanced-color-button-secondary-border-inverse});

  // cta hyperlink - tertiary
  
  --ds-auro-hyperlink-cta-tertiary-default-color-default: var(--ds-advanced-color-button-tertiary-text, #{v.$ds-advanced-color-button-tertiary-text});
  --ds-auro-hyperlink-cta-tertiary-default-container-color-default: var(--ds-advanced-color-button-tertiary-background, #{v.$ds-advanced-color-button-tertiary-background});
  --ds-auro-hyperlink-cta-tertiary-default-outline-color-default: transparent;
  --ds-auro-hyperlink-cta-tertiary-default-border-color-default: transparent;

  --ds-auro-hyperlink-cta-tertiary-visited-color-default: var(--ds-advanced-color-button-tertiary-text, #{v.$ds-advanced-color-button-tertiary-text});
  --ds-auro-hyperlink-cta-tertiary-visited-container-color-default: var(--ds-advanced-color-button-tertiary-background, #{v.$ds-advanced-color-button-tertiary-background});
  --ds-auro-hyperlink-cta-tertiary-visited-outline-color-default: transparent;
  --ds-auro-hyperlink-cta-tertiary-visited-border-color-default: transparent;

  --ds-auro-hyperlink-cta-tertiary-focus-color-default: var(--ds-advanced-color-button-tertiary-text, #{v.$ds-advanced-color-button-tertiary-text});
  --ds-auro-hyperlink-cta-tertiary-focus-container-color-default: var(--ds-advanced-color-button-tertiary-background, #{v.$ds-advanced-color-button-tertiary-background});
  --ds-auro-hyperlink-cta-tertiary-focus-outline-color-default: var(--ds-advanced-color-state-focused, #{v.$ds-advanced-color-state-focused});
  --ds-auro-hyperlink-cta-tertiary-focus-border-color-default: var(--ds-advanced-color-state-focused, #{v.$ds-advanced-color-state-focused});

  --ds-auro-hyperlink-cta-tertiary-hover-color-default: var(--ds-advanced-color-button-tertiary-text, #{v.$ds-advanced-color-button-tertiary-text});
  --ds-auro-hyperlink-cta-tertiary-hover-container-color-default: var(--ds-advanced-color-button-tertiary-background-hover, #{v.$ds-advanced-color-button-tertiary-background-hover});
  --ds-auro-hyperlink-cta-tertiary-hover-outline-color-default: transparent; // This is overriding the focus color on tertiary but not secondary
  --ds-auro-hyperlink-cta-tertiary-hover-border-color-default: transparent;

  // cta hyperlink - tertiary ondark

  --ds-auro-hyperlink-cta-tertiary-default-color-inverse: var(--ds-advanced-color-button-tertiary-text-inverse, #{v.$ds-advanced-color-button-tertiary-text-inverse});
  --ds-auro-hyperlink-cta-tertiary-default-container-color-inverse: var(--ds-advanced-color-button-tertiary-background-inverse, #{v.$ds-advanced-color-button-tertiary-background-inverse});
  --ds-auro-hyperlink-cta-tertiary-default-outline-color-inverse: transparent;
  --ds-auro-hyperlink-cta-tertiary-default-border-color-inverse: transparent;

  --ds-auro-hyperlink-cta-tertiary-visited-color-inverse: var(--ds-advanced-color-button-tertiary-text-inverse, #{v.$ds-advanced-color-button-tertiary-text-inverse});
  --ds-auro-hyperlink-cta-tertiary-visited-container-color-inverse: var(--ds-advanced-color-button-tertiary-background-inverse, #{v.$ds-advanced-color-button-tertiary-background-inverse});
  --ds-auro-hyperlink-cta-tertiary-visited-outline-color-inverse: transparent;
  --ds-auro-hyperlink-cta-tertiary-visited-border-color-inverse: transparent;

  --ds-auro-hyperlink-cta-tertiary-focus-color-inverse: var(--ds-advanced-color-button-tertiary-text-inverse, #{v.$ds-advanced-color-button-tertiary-text-inverse});
  --ds-auro-hyperlink-cta-tertiary-focus-container-color-inverse: var(--ds-advanced-color-button-tertiary-background-inverse, #{v.$ds-advanced-color-button-tertiary-background-inverse});
  --ds-auro-hyperlink-cta-tertiary-focus-outline-color-inverse: var(--ds-advanced-color-state-focused-inverse, #{v.$ds-advanced-color-state-focused-inverse});
  --ds-auro-hyperlink-cta-tertiary-focus-border-color-inverse: var(--ds-advanced-color-state-focused-inverse, #{v.$ds-advanced-color-state-focused-inverse});

  --ds-auro-hyperlink-cta-tertiary-hover-color-inverse: var(--ds-advanced-color-button-tertiary-text-inverse, #{v.$ds-advanced-color-button-tertiary-text-inverse});
  --ds-auro-hyperlink-cta-tertiary-hover-container-color-inverse: var(--ds-advanced-color-button-tertiary-background-inverse-hover, #{v.$ds-advanced-color-button-tertiary-background-inverse-hover});
  --ds-auro-hyperlink-cta-tertiary-hover-outline-color-inverse: transparent;
  --ds-auro-hyperlink-cta-tertiary-hover-border-color-inverse: transparent;
}
