
// Import Auro tokens
@import "./node_modules/@alaskaairux/orion-design-tokens/dist/tokens/SCSSVariables";

// Import generated Design Token variables
@import "./demo/sass/tokenVariables";
@import "./demo/sass/tokenProperties";

// Import baseline library dependencies
// Mixins
@import "./node_modules/@alaskaairux/orion-web-core-style-sheets/dist/breakpoints";

// Creates baseline output in CSS
@import "./node_modules/@alaskaairux/orion-web-core-style-sheets/dist/fonts";
@import "./node_modules/@alaskaairux/orion-web-core-style-sheets/dist/normalize";
@import "./node_modules/@alaskaairux/orion-web-core-style-sheets/dist/baseline";

// Import Utility classes (will produce CSS in output)
@import "./node_modules/@alaskaairux/orion-web-core-style-sheets/dist/utilityClasses";

// Import supoprt for non-ods-wc HTML elements (will produce CSS in output)
@import "./node_modules/@alaskaairux/orion-web-core-style-sheets/dist/componentSupport/anchor-roleButton";
@import "./node_modules/@alaskaairux/orion-web-core-style-sheets/dist/componentSupport/anchor-roleTab";
@import "./node_modules/@alaskaairux/orion-web-core-style-sheets/dist/componentSupport/tablist";

// Import supoprt for focus-visible accessibility (will produce CSS in output)
@import "./node_modules/@alaskaairux/orion-web-core-style-sheets/dist/utilityClasses/focusVisible";

// Custom styles per demo pages
code {
  color: var(--color-base-chili);
}

.vertical-section-container {
  margin: 0 auto;
  max-width: var(--size-width-max);
}
